# setup.sh generates the real password on the Debian VM; never use this example as-is.
UPLOAD_LOCATION=/srv/immich/library
DB_DATA_LOCATION=/srv/immich/postgres
IMMICH_VERSION=v3.3.1
DB_PASSWORD=CHANGE_ME_GENERATE_ON_SERVER
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
IMMICH_BIND=127.0.0.1
TZ=Europe/Berlin
