MEMOS_IMAGE=neosmemo/memos:0.31.0
MEMOS_BIND=127.0.0.1
MEMOS_DATA_PATH=/srv/memos/data
# Start privately via SSH. After creating the tunnel hostname, set https://memos.silasnet.win.
# No DNS record is created by Compose.
MEMOS_INSTANCE_URL=http://localhost:5230
TZ=Europe/Berlin
